<% layout('layout/boilerplate') %>

<div class="container mt-0 pt-0">
  <h1 class="mt-2 mb-3">Student Attendance</h1>
  <form action="/student/attendance" method="POST">
    <table class="table table-bordered table-hover">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Present</th>
        </tr>
      </thead>
      <tbody>
        <% students.forEach(student => { %>
          <tr>
            <td><%= student.id %></td>
            <td><%= student.name %></td>
            <td><%= student.last %></td>
            <td><%= student.age %></td>
            <td class="text-center">
              <input type="checkbox" style="accent-color: black;" name="attendance" value="<%= student.id %>" <%= attendanceRecords && attendanceRecords[student.id] ? 'checked' : '' %> />
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-dark">Submit Attendance</button>
    </div>
  </form>
</div>
