<% layout('layout/boilerplate') %>

<div class="container mt-4">
    <h1>Students Attendance</h1>
    <form action="/student/attendance" method="POST">
        <table class="table table-bordered table-hover mt-3">
            <thead class="table-dark">
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Present</th>
                </tr>
            </thead>
            <tbody>
                <% student.forEach(student => { %>
                    <tr>
                        <td><%= student.id %></td>
                        <td><%= student.name %> <%= student.last %></td>
                        <td><%= new Date().toLocaleDateString() %></td>
                        <td class="text-center">
                            <input type="checkbox" style="accent-color: black;" name="attendance" value="<%= student.id %>" <%= attendanceRecords && attendanceRecords[student.id] ? 'checked' : '' %> />
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-dark">Submit Attendance</button>
        </div>
    </form>
</div>
