<% layout('layout/boilerplate') %>

<div class="container">
  <h2>Student Details</h2>
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <td><%= student.id %></td>
    </tr>
    <tr>
      <th>First Name</th>
      <td><%= student.name %></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= student.last %></td>
    </tr>
    <tr>
      <th>Father's Name</th>
      <td><%= student.fathername %></td>
    </tr>
    <tr>
      <th>Contact Number</th>
      <td><%= student.contactno %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= student.email %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%= student.address %></td>
    </tr>
    <tr>
      <th>Class</th>
      <td><%= student.class %></td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td><%= student.dob %></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><%= student.gender %></td>
    </tr>
  </table>

  <a href="/student/allstudents"><button class="btn btn-dark">Back to List</button></a>
</div>
