<% layout('layout/boilerplate') %>

<div class="container">
    <h1>Manage Students</h1>
    <div class="table-responsive">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Age</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            
            <% for ( student of students) { %>
              <tr>
                <td><%= student.id %></td>
                <td><%= student.name %></td>
                <td><%= student.last %></td>
                <td><%= student.age %></td>
                <td class="d-flex"><a href="/student/show/<%= student.id %>/"><button class=" btn btn-dark me-2">Show</button></a>
                <a href="/student/edit/<%= student.id %>/"><button class=" btn btn-dark me-2">Edit</button></a>
                <form action="/student/delete/<%= student.id %>?_method=DELETE" method="post">
                  <button class="btn btn-dark">Delete</button>
                </form></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
 <!-- 100 %‑wide wrapper -->
<div class="w-100 d-flex justify-content-center">
  <!-- 50 %‑wide button, label centered -->
  <a href="/student/create" class="btn btn-dark w-50 text-center">
    + Add Student
  </a>
</div>

    
